{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>Futbol Internacional</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{%static 'style/style.css'%}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'index'%}">Futbol<span class="logo_colour"> Internacional</span></a></h1>
          <h2>Informacion sobre confederaciones, selecciones y futbolistas</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'index'%}">Inicio</a></li>
           <li><a href="{%url 'listaConfederacion'%}">Confederaciones</a></li>
          <li><a href="{%url 'listaSeleccion'%}">Selecciones</a></li>
          <li><a href="{%url 'listaFutbolista'%}">Jugadores</a></li>
          <li><a href="#">Contactanos</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Sobre Nosotros</h3>
        <h4>¿De que va este proyecto?</h4>
        <h5>Proyecto de Ingenieria Web 2024-2025</h5>
        <p> Es un proyecto trabajado con HTML, Python y Django. El proyecto trata sobre las selecciones de futbol que hay alrededor del mundo.
          Aqui encontraras 12 jugadores por cada seleccion, y 5 selecciones por cada confederacion.
          <br />
        <p></p>
        <h4>¿Quienes somos?</h4>
        <h5>Ingenieria Deusto</h5>
        <p> Somos tres alumnos cursando la asignatura de Ingenieria Web de la Universidad de Deusto. 
          <br />
        <h3>Autores</h3>
        <ul>
          <li>Ander Gonzalez Alonso</li>
          <li>Emilio Gil del Rio Perez</li>
          <li>Beñat Burgoa Santos</li>
        </ul>
        
      </div>
      <div id="content">
        {% block contenido %}{%endblock%}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; colour_purple | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      const factous = [
        "Messi es el GOAT del Deporte",
        "Sancet acabara su carrera con 10 balones de oro, futuro GOAT del deporte",
        "Nico Williams > Vinicius JR",
        "Prados, Galaxy, Sancet > Busi, Iniesta, Xavi",
        "El bicho es el GOAT del futbool europeo",
        "Nico Guru e Iñaki son el mejor tridente del futbol moderno"
      ];
  
      const factoboton = document.createElement("button");
      const facto = document.createElement("p");
  
      factoboton.textContent = "Suelta ese factouuuuu";
      factoboton.style.padding = "10px 20px";
      factoboton.style.backgroundColor = "#0055ff";
      factoboton.style.color = "#fff";
      factoboton.style.border = "none";
      factoboton.style.borderRadius = "5px";
      factoboton.style.cursor = "pointer";
      factoboton.style.marginTop = "15px";
  
      facto.style.marginTop = "10px";
      facto.style.fontSize = "1.1em";
      facto.style.color = "#333";
      facto.style.textAlign = "center";
  
      factoboton.addEventListener("click", function () {
        const randomFact = factous[Math.floor(Math.random() * factous.length)];
        facto.textContent = randomFact;
      });
  
      const contentDiv = document.getElementById("content");
      contentDiv.appendChild(factoboton);
      contentDiv.appendChild(facto);
    });
  </script>
  
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const greetingElement = document.createElement("p");
      const currentHour = new Date().getHours();
      let greetingMessage;
  
      if (currentHour < 12) {
        greetingMessage = "¡Buenos días!";
      } else if (currentHour < 18) {
        greetingMessage = "¡Buenas tardes!";
      } else {
        greetingMessage = "¡Buenas noches!";
      }
  
      greetingElement.textContent = greetingMessage;
      greetingElement.style.fontSize = "1.2em";
      greetingElement.style.color = "#555";
      greetingElement.style.marginTop = "10px";
      greetingElement.style.textAlign = "center";
  
      const header = document.getElementById("header");
      header.appendChild(greetingElement);
    });
  </script>
  

</body>
</html>
