<html>
<head>
    <title>Detalle de la seleccion</title>
</head>
<body>
    <h1>Detalle de la Seleccion</h1>
    <p>Nombre: {{ seleccion.nombre }}</p>
    <p>Confederacion: {{ seleccion.confederacion }}</p>
    <h2>Jugadores</h2>
    <ul>
    {% for seleccion in seleccion.futbolista.all %}
        <li>
            <a href="{% url 'detalleFutbolista' futbolista.id %}">
                {{ seleccion.nombre }} {{seleccion.apellido}}
            </a>
        </li>
    {% empty %}
        <li>No hay futbolista asociado a esta confederacion</li>
    {% endfor %}
    </ul>
</body>
</html>
