<html>
<head>
    <title>Detalle de la seleccion</title>
</head>
<body>
    <h1>Detalle de la Seleccion</h1>
    <p>Nombre: {{ Seleccion.nombre }}</p>
    <p>Confederacion: {{ Seleccion.confederacion }}</p>
    <h2>Selecciones</h2>
    <ul>
    {% for seleccion in seleccion.futbolista.all %}
        <li>
            <a href="{% url 'detalleSeleccionesConPlantilla' futbolista.id %}">
                {{ futbolista.nombre }}
            </a>
        </li>
    {% empty %}
        <li>No hay futbolista asociado a esta confederacion</li>
    {% endfor %}
    </ul>
</body>
</html>
