<html>
<head>
    <title>Detalle de la Confederacion</title>
</head>
<body>
    <h1>Detalle de la Confederacion</h1>
    <p>Nombre: {{ confederacion.nombre }}</p>
    <p>Continente: {{ confederacion.continente }}</p>
    <h2>Selecciones</h2>
    <ul>
    {% for seleccion in confederacion.seleccion.all %}
        <li>
            <a href="{% url 'detalleSeleccion' seleccion.id %}">
                {{ seleccion.nombre }}
            </a>
        </li>
    {% empty %}
        <li>No hay selecciones asociadas a esta Confederacion.</li>
    {% endfor %}
    </ul>
</body>
</html>
