{% extends 'base.html' %}
{% block contenido %}
<html>
<head>
    <title>Detalle de la seleccion</title>
</head>
<body>
    <h1>Detalle de la Seleccion</h1>
    <p>Nombre: {{ seleccion.nombre }}</p>
    <p>Confederacion: {{ seleccion.confederacion }}</p>
    <h2>Jugadores</h2>
    <div id="tabla">
    <table>
    {% for futbolista in seleccion.futbolista.all %}
        <tr><td>
        {% if futbolista.imagenFutbolista %}
            <img class="imagenFutbolista" src="{{futbolista.imagenFutbolista}}" alt="imagen" style="width:70px" >
        {% else %}
            <img class="imagenFutbolista" src="../static/style/FutbolistaSinFoto.png" alt="imagen" style="width:70px">
        {%endif%}


        <img class="imagenFutbolista" src="{{futbolista.imagenFutbolista}}" alt="imagen" style="width:50px" >
    </td>
        <td>
            <a href="{% url 'detalleFutbolista' futbolista.id%}">
                {{futbolista.nombre }} {{futbolista.apellido}}
            </a>
        </td>
        <td>
            {{futbolista.posicion}}
        </td>
        
    {% empty %}
        <td>No hay futbolista asociado a esta confederacion</td>
    {% endfor %}
        </tr>
    </table>
    </div>
</body>
</html>
{% endblock %}