
<html>
<head>
    <title>Detalle del Futbolista</title>
</head>
<body>
    <h1>Detalle del Futbolista</h1>
    <p>ID: {{ futbolista.id }}</p>
    <p>Nombre: {{ futbolista.nombre }}</p>
    <p>Apellido: {{ futbolista.apellido }}</p>
    <p>Fecha de nacimiento: {{ futbolista.fecha_nac }}</p>
    <p>Posicion: {{ futbolista.posicion }}</p>
    {% if futbolista.imagenFutbolista %}
        <p>Imagen:</p>
        <img class="imagenFutbolista" src="{{futbolista.imagenFutbolista}}" alt="imagen" style="width:300px" >
    {% else %}
        <p>No hay imagen disponible para este trabajador.</p>
    {%endif%}

</body>
</html>
